.div-icon-name{
  display: flex;
  flex-direction: row;
}

.div-wrap-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70px;
  height: 100px;
  margin-left: 20px;
}
