.place-content{
  padding: 16px;
}

.div-recycler-city{

}

.wrapper-recycler-city{
  display: flex;
  flex-direction: column;
}

.sub-text-city{
  font-size: 14px;
  color: #c4c4c4;
}

.div-buy-send{

}

.wrapper-buy-send{

}

.div-product-price{

}

.span-product-name{

}
