.place-content{
  padding-bottom: 70px;
}

.place-bottom {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.span-title{
  font-size: 22px;
  font-weight: 600;
  color: #525252;
}

.div-title-price-rating{
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.css-19xlv9d {
  background: rgb(243, 244, 245) none repeat scroll 0% 0%;
  height: 8px;
}

.css-19midj6 {
  padding: 16px;
}

.css-1n6ebyd {
  font-size: 16px;
  color: rgb(49, 53, 59);
  font-weight: 600;
  margin-top: 0px;
  line-height: 22px;
}

.css-c0gh7v {
  color: rgba(49, 53, 59, 0.68);
  flex: 1 1 0%;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 4px;
  font-size: 12px;
  line-height: 18px;
}

.content-paragraph {
  font-size: 14px;
  line-height: 1.29;
  position: relative;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -moz-box-orient: vertical;
  color: rgba(49, 53, 59, 0.68);
  white-space: normal;
  overflow: hidden;
  margin: 16px 0px;
}

// Recycler Section

.div-recycler-account{
  padding: 16px;
}

.div-recycler-account > div {
  display: flex;
  -moz-box-align: center;
  align-items: center;
}

.css-1ptigug > a {
  margin-top: -4px;
}

.css-14a39gt {
  width: 48px;
  height: 48px;
  object-fit: contain;
  margin-right: 8px;
  border-radius: 50%;
}
img {
  border-style: none;
}

.recyler-name-photo {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  margin-bottom: 4px;
}
a {
  color: rgba(0,0,0,.7);
  text-decoration: none;
}
a {
  background-color: transparent;
}

.css-ebxddb {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}
img {
  border-style: none;
}

.recyler-name-photo h2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: rgb(49, 53, 59);
  margin: 0px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -moz-box-orient: vertical;
  overflow: hidden;
}

.span-online-with-city {
  font-size: 12px;
  line-height: 18px;
  color: rgba(49, 53, 59, 0.68);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -moz-box-orient: vertical;
  overflow: hidden;
}

b, strong {
  font-weight: bolder;
}

// place bottom section

.css-ofrc7i-unf-card {
  display: block;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  padding: 10px 0px;
  position: fixed;
  width: 100%;
  max-width: 480px;
  height: 60px;
  bottom: 0px;
  margin: 0px auto !important;
  z-index: 2;
  border-radius: 0px;
  box-shadow: rgba(49, 53, 59, 0.12) 0px -1px 6px;
}

.css-yeresf {
  width: 100%;
  height: 40px;
  display: flex;
  flex-flow: row wrap;
}

.css-1j7nfit {
  position: relative;
  border-radius: 8px;
  background-color: white;
  border: 1px solid rgb(3, 172, 14);
  margin: 0px 8px;
  padding: 7px;
  height: 100%;
}

.css-3d0aq {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  margin-right: 8px;
}

.css-3d0aq button {
  line-height: 40px;
  font-size: 13px;
  font-weight: 600;
  padding: 0px;
  text-align: center;
}
.css-10looxd-unf-btn {
  color: rgb(250, 89, 29);
  font-size: 14px;
  height: 40px;
  line-height: 18px;
  width: 100%;
  border-radius: 8px;
  font-weight: 800;
  outline: currentcolor none medium;
  overflow: hidden;
  padding: 0px 16px;
  position: relative;
  text-overflow: ellipsis;
  transition: background 0.8s ease 0s;
  white-space: nowrap;
  display: block;
  background: rgb(255, 255, 255) radial-gradient(circle, transparent 1%, rgb(255, 255, 255) 1%) repeat scroll center center / 15000%;
  border: 1px solid rgb(250, 89, 29);
  text-indent: initial;
}
[type="button"], [type="reset"], [type="submit"], button {
  -webkit-appearance: button;
}
button {
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
}

.css-3d0aq button {
  line-height: 40px;
  font-size: 13px;
  font-weight: 600;
  padding: 0px;
  text-align: center;
}
.css-17i3wt4-unf-btn {
  color: rgb(255, 255, 255);
  font-size: 14px;
  height: 40px;
  line-height: 18px;
  width: 100%;
  border-radius: 8px;
  font-weight: 800;
  outline: currentcolor none medium;
  overflow: hidden;
  padding: 0px 16px;
  position: relative;
  text-overflow: ellipsis;
  transition: background 0.8s ease 0s;
  white-space: nowrap;
  display: block;
  background: rgb(250, 89, 29) radial-gradient(circle, transparent 1%, rgb(250, 89, 29) 1%) repeat scroll center center / 15000%;
  border: medium none;
  text-indent: initial;
}
[type="button"], [type="reset"], [type="submit"], button {
  -webkit-appearance: button;
}
button {
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
}
