.card-list-column{
  overflow-y: scroll;
  scrollbar-width: none;
  text-align: center;
  padding: 10px 0;
}

.card-list::-webkit-scrollbar {
  display: none;
}

.div-card-waste{
  display: inline-block;
  width: 400px;
}
