.place-content{
  padding: 10px 20px;
}

.div-address{
  display: flex;
  flex-direction: row;
}

.text-address{
  display: flex;
  margin-left: 20px;
  width: 250px;
}

.div-title-input{
  margin-top: 10px;
}

.div-waste-type{
  display: flex;
  height: 80px;
  align-items: center;
}

.span-icon{
  margin-left: 20px;
  width: 40px;
}

.span-waste-weight{
  width: 210px;
}

.select-periode{
  width: 200px;
}

.div-photo{
  margin-bottom: 100px;
}
