.place-content{
  padding: 10px 20px;
}

.div-address{
  display: flex;
  flex-direction: row;
}

.text-address{
  display: flex;
  margin-left: 20px;
  width: 250px;
}

.div-title-input{
  margin-top: 10px;
}

.div-waste-type{
  display: flex;
  height: 60px;
  align-items: center;
}

.span-icon{
  margin-left: 20px;
  width: 40px;
}

.span-waste-weight{
  width: 210px;
}

.div-input-pick-date{
  display: flex;
  height: 70px;
  margin-top: 15px;
}

.div-pick-time{
  height: 70px;
}

.select-periode{
  width: auto;
  margin-top: 10px;
}

.div-desc{
  height: 70px;
}

.input-desc{
  width: auto;
  margin-top: 10px;
}

.div-photo{
  margin-top: 10px;
  margin-bottom: 100px;
}
