.place-content{
  padding: 16px;
}

.wrapper-background-image{
  display: flex;
  margin: 10px 10px;
  width: 80px;
  height: 75px;
  background: #c4c4c4;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

.div-price-stock{
  display: flex;
  flex-direction: row;
  .div-input-price{
    width: 120%;
    margin-right: 20px;
  }

  .div-input-stock{
    width: 80%;
  }
}

.div-text-switch{
  margin-bottom: 20px;
}

.div-input-title{
  font-size: 12px;
}

.wrapper-feature{
  display: flex;
  flex-direction: row;
}

.text-feature{
  display: flex;
  flex-direction: column;
}

.text-field-waste{
  width: 100%;
}

.text-field-amount{
  width: 100px;
}

.row-owl-list{
  display: flex;
  flex-direction: row;
}

.div-kategori-harga{
  margin: 8px 50px;
}

.kategori-harga-row{
  display: flex;
  flex-direction: row;
}

.hr-line{
  color: #efefef;
  margin-top: 3px;
}

.div-btn-submit{
  display: flex;
  width: inherit;
  justify-content: center;
}

.btn-submit{
  background: rgba(222,107,74,0.96);
  width: 250px;
  height: 50px;
  border-radius: 15px;
}
