@import "variables";

body, html {
  margin: 0;
  padding: 0;
}

.container-mobile{
  display: block;
  max-width: $max-phone-width;
  height: auto;
  width: 100%;
  margin: 0 auto 5px;
  padding: 0;
  border: 0;
}
